@model todolist.Models.Auth.ChangePasswordViewModelcs

@{
    ViewData["Title"] = "Change password";
}

<h2>Change password</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">@Html.ValidationMessage("WrongOldPassword")</span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPasswordRep" class="control-label"></label>
                <input asp-for="NewPasswordRep" class="form-control" />
                <span asp-validation-for="NewPasswordRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-controller="Users"
                   asp-action="Details"
                   asp-route-id="@Model.UserId"
                   class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
</div>
